:root{
    --maincolor:rgb(0, 196, 167);
    --secondcolor:  rgb(82, 82, 82);
    --white: rgb(255, 255, 255);
}


* {
    padding:0;
    margin:0;
    font-family: 'Raleway', sans-serif;
    box-sizing:border-box;
    color:var(--secondcolor)
}

.navbar {
    background-color:var(--maincolor)
}

.displayChange2{
    display:flex;
    justify-content:space-evenly;
}

.Titres {
    display:flex;
    align-content: center;
    flex-direction: column;
    text-align:center;
    width:auto;
    margin:auto;
    color:var(--secondcolor);
    vertical-align:top;
    text-align:left;
}
.Titres {
    padding:50px 0 50px 40px;
    
}
.projectdescription{width: 100%}
.left {
    border-left-style:solid;
    border-color:var(--maincolor)
}

.right {
    border-right-style:solid;
    border-color:var(--maincolor)
}

.titre2 {
    text-align:center;
}

.textAlignRight {
    text-align:right;
}

h2 {
    font-size:30px;
}

.card-img-top {
    height:240px;
}

.card-body {
    text-align:center;
}

.btn {
    background-color:var(--maincolor);
    color:#ffffe9;
}

.card-body {
    height:278px;
} 

.btn_engagement_div {
    text-align:center;
}

.btn_engagement {
    margin:40px auto;
    font-size:18px;
    padding:10px;
    font-weight:700;
    color: white;
}

.btn_otherProject {
    font-weight:700;
    color: white;
}


.btn_engagement:hover {
    color: var(--secondcolor)
}

.btn_otherProject:hover {
    color: var(--secondcolor)
}

.firstArticle {
    width:100%;
    margin:30px auto;

}
.way{
    padding-left: 40px;
}

.way a{
    color:var(--maincolor);
    text-decoration: none;
}
.way a:hover{
    font-weight: 500;
    color:var(--secondcolor);
}

.bg_image {
    background: url(./img/recycling-bins.jpg);
    background-repeat: no-repeat;
    color: var(--white);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    align-items: flex-end
}

.bg_opacity {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    width: 100%;
    align-items: center;
    padding-left: 40px;
        
}

/*FOOTER*/
footer{
    width: 100%;
    display: flex;
    
    flex-direction: column;
    background-color: var(--maincolor);
    color: white;
}

#categorie1{
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}
#categorie1 img{
    width: 15%
}


#categotie2{
    display: flex;
    flex-direction: column;
}
#categorie2 ul {
    list-style-type:none;
    margin: auto;
    padding: 0;
    text-align: center;
}

#categorie1 a, #categorie2 a{
    color: white;
}

.social_media {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:30px;
    padding-left: 0;
    
}
.social_media li{
    filter: grayscale(1);
}
.social_media li:hover{

    filter: grayscale(0);
}

a{
    text-decoration: none;
    
    
}
a:hover{
    text-decoration: none;
    font-weight: 700;
    color: var(--secondcolor);
}
@media screen and (min-width: 992px){

    footer{
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:var(--maincolor);
        color: white;
    
    }

    #categorie1{
    width: 150px;
    }
    #categorie1 img {
       
        width: 60%;
    }
    #categorie2{
        padding-right: 72px;
    }


    #categorie2 ul{

        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 125%;
    }

    #categorie2 li{
        margin: auto;
        margin-right: 5%;
    }

    .social_media{
        list-style-type:none;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
    }

    .social_media img{
        width: 60%;
    }

}

 
@media screen and (min-width: 960px) {
    .displayChange {
        display:inline-block;
        width:30%;
        padding:40px 0;
        vertical-align:top;
    }
    .Titres {
        width: 400px;
        display:inline-block;
    }

    .marginLeft {
        margin-left:390px;
    }

    .projetdescription{
        width:100%;
        margin:auto;
        margin:20px 0 0 0;
    }
    .Titres {
        padding:50px 0 0 40px;
        
    }
    .textAlignRight {
        text-align:left;
    }
    .textAlignLeft {
        text-align:left;
    }
    .right {
        border-right-style:none;
        border-left-style:solid;
    }
    
}

@media screen and (min-width: 1400px) {
    .displayChange {
        width:37%;
    }

}

@media screen and (min-width: 1600px) {
    .displayChange {
        width:39%;
    }

}

@media screen and (min-width: 1800px) {
    .displayChange {
        width:40%;
    }