:root {
    --maincolor: rgb(0, 196, 167);
    --opacity: rgba(82, 82, 82, 0.8);
    --secondcolor:rgb(82, 82, 82);
}
footer{
    width: 100%;
    display: flex;
    
    flex-direction: column;
    background-color: var(--maincolor);
    color: white;
}

/* alignement campus name in nav bar*/
.campusName{
    margin-left: 0 !important;
}
/* end alignement campus name in nav bar*/

#categorie1{
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
}
#categorie1 img{
    width: 15%
}


#categotie2{
    display: flex;
    flex-direction: column;
}
#categorie2 ul {
    list-style-type:none;
    margin: auto;
    padding: 0;
    text-align: center;
}

#categorie1 a, #categorie2 a{
    color: white;
}

.social_media {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom:30px;
    padding-left: 0;
    
}
.social_media li{
    filter: grayscale(1);
}
.social_media li:hover{

    filter: grayscale(0);
}

a{
    text-decoration: none;
    
    
}
a:hover{
    text-decoration: none;
    font-weight: 700;
    color: var(--secondcolor);
}
/* test liens category*/
.menu_projet{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.project_category{
    display: flex;
    width: 40%;
    margin: 30px 5%;
    text-align: center;
    background-color: none;
    height: 20vh;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    color: var(--secondcolor)
    }

    .desciption_category{
        color: var(--secondcolor);
    }

/* test liens category*/


@media screen and (min-width: 992px){

    footer{
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:var(--maincolor);
        color: white;
    
    }

    #categorie1{
    width: 150px;
    }
    #categorie1 img {
       
        width: 60%;
    }
    #categorie2{
        padding-right: 72px;
    }


    #categorie2 ul{

        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 125%;
    }

    #categorie2 li{
        margin: auto;
        margin-right: 5%;
    }

    .social_media{
        list-style-type:none;
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        margin-right: 0px;
    }

    .social_media img{
        width: 60%;
    }
   

}
@media screen and (max-width: 992px){
 /* test liens category*/
 .menu_projet{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
    
}
.project_category{
    display: flex;
    width: 100%;
    margin: 10px auto;
    text-align: center;
    background-color: none;
    height: 20vh;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
    }

    .desciption_category{
        color: var(--secondcolor);
    }

/* test liens category*/
}