.categorie_title {
    font-size: 20px;
}
@media screen and (min-width:992px) {
.container1 {
    width:80%;
    margin:0 auto;
}
.container2 {
    width:80%;
    margin:0 auto;
}
.list1 {
    color: black;
    margin-top: 20px;
}
.categorie_title {
    font-size: 25px;
}



