*{
    font-family: 'Raleway', sans-serif;
}

.category_container{
    border: 2px;
    border-top-style: solid;
    border-color: black;
    border-bottom-style: solid;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}

.margin-left {
    margin-left: auto;
}

.project_status, .campus_name{
    display: flex;
    justify-content: center;
    align-items: center;
}